
/*------------------------------*/
/*------------------------------*/
/* This CSS files is used across all HTML files.*/
/*The document has following formatting:
Body and container,
Content,
Initialization,
Footer,
Heading,
Horizontal line,
Navigation bar,
*/
/* Author: Robert Koirala*/
/*------------------------------*/
/*------------------------------*/

/*------------------------------*/
/* Body and Container */
/*------------------------------*/
body {
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

/*------------------------------*/
/*Content*/
/*------------------------------*/
.content {
    margin-left: 105px; /* width of sidebar + padding, 105px should match value of .sidebar width */
    padding: 20px;
    padding-bottom: 30px;
    flex: 1;
    overflow-y: auto; /*allows one to scroll down automatically*/
}

.content ul {
    padding-left: 30px; /*padding for list in content*/
    padding-top: 10px;
}

.content li {
    margin-bottom: 15px; /*bottom margin for lists in content*/
}

.content p {
    margin-bottom: 20px; /*bottom margin for paragraph in content*/
}

/*------------------------------*/
/* Initialization */
/*------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------------------*/
/*Footer*/
/*------------------------------*/
.footer {
    position: fixed;
    right: 20px;
    bottom: 0px;
    width: 100%;
    text-align: right;
    color: rgb(100, 100, 100);
    font-size: 10px;
    background-color:#ffffff;
    padding-bottom: 10px;
  }

/*------------------------------*/
/* Heading*/
/*------------------------------*/
h1, h2 {
    margin-bottom: 10px;
    text-align: center;
}

/*------------------------------*/
/*Horizontal line*/
/*------------------------------*/
hr { 
    background-color: rgb(212, 212, 212); 
    height: 1px; 
    border: 0; 
    margin-bottom: 5px;
}

/*------------------------------*/
/* Navigation bar*/
/*------------------------------*/
.sidebar {
    width: 105px; /*105px should match with value of .content margin-left*/
    background-color: #eeeeee;
    padding: 20px;
    padding-bottom: 30px;
    position: fixed; /*fixes the navigation bar*/
    height: 100%;
    overflow-y: auto; /*allows to scroll the navigation bar when a device is small*/
}

.sidebar ul {
    list-style-type: none; /*list in navigation bar*/
}

.sidebar ul li {
    margin: 10px 0; /*margin of itemized list in navigation bar*/
}

.sidebar ul li a {
    text-decoration: none;
    color: #555; /*color of itemized list in navigation bar*/
    font-weight: bold;
}

.sidebar ul li a:hover {
    color: #002cb0; /*color while hovering itemized list in navigation bar*/
}
/*------------------------------*/
/*------------------------------*/



  